name: Jaime-DataCollection

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        default: false
      environment:
        type: choice
        options:
          - development
          - staging
          - production

  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - main
      - develop/**
      - release/**
      - hotfixes/**

env:
  IS_DEV: ${{ (inputs.dry-run && inputs.environment == 'development')
      || (!inputs.dry-run && startsWith(github.ref, 'refs/heads/develop/')) }}

  IS_STAGING: ${{ (inputs.dry-run && inputs.environment == 'staging')
      || (!inputs.dry-run && startsWith(github.ref, 'refs/heads/release/'))
      || (!inputs.dry-run && startsWith(github.ref, 'refs/heads/hotfixes/')) }}

  IS_PROD: ${{ (inputs.dry-run && inputs.environment == 'production')
      || (!inputs.dy-run && github.ref_type == 'tag') }}

jobs:
  detect_changes:
    name: Detect Environment + Changed Components
    runs-on: ubuntu-latest

    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
      changed_jsons: ${{ steps.filter.outputs.changed_jsons }}
      skip: ${{ steps.filter.outputs.skip }}

    steps:
      - uses: actions/checkout@v4

      # Determine Environment
      - id: set-env
        run: |
          if [ "${{ env.IS_DEV }}" = "true" ]; then
            echo "environment=dev" >> $GITHUB_OUTPUT
          elif [ "${{ env.IS_STAGING }}" = "true" ]; then
            echo "environment=stg" >> $GITHUB_OUTPUT
          elif [ "${{ env.IS_PROD }}" = "true" ]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
          else
            echo "::error::Cannot determine environment"
            exit 1
          fi

      # Detect Changed Files
      - id: changes
        uses: tj-actions/changed-files@v46.0.1
        with:
          files: |
            step-function-workflow/**

      # Filter JSON files only
      - id: filter
        run: |
          ENV="${{ steps.set-env.outputs.environment }}"
          RAW="${{ steps.changes.outputs.all_changed_files }}"

          echo "RAW changed: $RAW"

          FILES=$(printf '%s\n' "$RAW" | jq -R -s -c 'split("\n") | map(select(. != ""))')

          # Detect JSONs that belong ONLY to this environment
          CHANGED_JSONS=$(echo "$FILES" \
              | jq -c "[.[] 
                | select(endswith(\".json\")) 
                | select(startswith(\"step-function-workflow/${ENV}\")) ]")

          echo "Filtered (only ${ENV}) JSONs: $CHANGED_JSONS"

          echo "changed_jsons=$CHANGED_JSONS" >> $GITHUB_OUTPUT

          if [[ "$CHANGED_JSONS" == "[]" ]]; then
            echo "skip=true" >> $GITHUB_OUTPUT
          else
            echo "skip=false" >> $GITHUB_OUTPUT
          fi


  deploy:
    needs: detect_changes
    runs-on: ubuntu-latest
    if: ${{ needs.detect_changes.outputs.skip == 'false' }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::227295996532:role/step-function-role2285
          aws-region: ap-northeast-1

      - name: Update ONLY changed Step Functions
        run: |
          ENV="${{ needs.detect_changes.outputs.environment }}"

          echo '${{ needs.detect_changes.outputs.changed_jsons }}' \
            | jq -r '.[]' | while read JSON; do

                echo "Changed JSON file: $JSON"

                FILE_NAME=$(basename "$JSON" .json)
                WF_PATH=$(dirname "$JSON")

                STATE_MACHINE_NAME="${FILE_NAME}-${ENV}"

                echo "Updating state machine: $STATE_MACHINE_NAME"
                echo "Using JSON file: $JSON"

                jq empty "$JSON"

                ARN=$(aws stepfunctions list-state-machines \
                    --query "stateMachines[?name=='${STATE_MACHINE_NAME}'].stateMachineArn" \
                    --output text)

                if [ -z "$ARN" ]; then
                  echo "❌ State machine not found in AWS: ${STATE_MACHINE_NAME}"
                  exit 1
                fi

                echo "Found ARN: $ARN"

                aws stepfunctions update-state-machine \
                  --state-machine-arn "$ARN" \
                  --definition "file://${JSON}"

                echo "✔ Successfully updated → $STATE_MACHINE_NAME"
                echo ""
            done
